<div class="Unir">

  <div class="menu-lateral">

    <h6>Panel de Administrador</h6>
  
    <div class="InfVendedor">
      <img [src]="img" *ngIf="img" id="ImgVendedor">
      <p id="NomVendedor">{{nombre}}</p>
    </div>

    <ul>
      <li><a (click)="TodasLasPeticiones(this.usuarioID!)">Nuevas peticiones</a></li>
      <li><a (click)="TodosLosEstablecimientos(this.usuarioID!)">Establecimientos</a></li>
      <li><a (click)="TodosLosUsuarios(this.usuarioID!)">Usuarios</a></li>
    </ul>

    <button (click)="regresarCliente()">Regresar</button>
   </div>
  
   <div class="main-content">
    <router-outlet></router-outlet>
   </div>

</div>