<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
       <a class="navbar-brand" href="#">
           <img src="RentOutfitLogo.png" alt="RentOutfit" width="50" height="50">
       </a>
  
  
    <div class="collapse navbar-collapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
  
        <li class="nav-item">
          <a routerLink="home" class="nav-link">
            <fa-icon id="Icono" [icon]="faHouse"></fa-icon>
            Home
          </a>
        </li>
  
        <li class="nav-item">
          <a routerLink="vestimentas" class="nav-link">
            <fa-icon id="Icono" [icon]="faBag"></fa-icon>
             Vestimentas
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link">
            <fa-icon id="Icono" [icon]="faShirt"></fa-icon>
            Mis Alquileres
          </a>
        </li>
  
       </ul>
  
  
       <form class="d-flex">
          <input id="contBuscar" class="form-control me-1" type="search" placeholder="Buscar..." aria-label="Search">
          <button id="btnBuscar" class="btn btn-outline-dark" type="submit"><fa-icon id="Icono" [icon]="faSearch"></fa-icon></button>
       </form>
  
       <!--
       <ul class="navbar-nav" >
        <li>
          <a class="nav-link">
            <fa-icon id="Icono" [icon]="faBell"></fa-icon>
            Notificaciones
          </a>
        </li>
       </ul>
       -->
  
       <ul class="navbar-nav ms-auto">
         <li *ngIf="token">
            <div class="d-flex">
              <img [src]="img" *ngIf="img" id="imgPerfil" alt="Profile">
              <p id="nombreUsuario">{{nombre}}</p>


              <a class="nav-link dropdown-menu-toggle" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon id="Icono" [icon]="faGear"></fa-icon>
              </a>

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                
                <li> <a routerLink="informacion">Mi información</a> </li>
                <li *ngIf="vendedor"> <a>Adminstrar mi negocio</a> </li>
                <li *ngIf="Admin"> <a>Super Usuario</a></li>
                <li> 
                  <button id="CerrarSesion" type="button" (click)="CerrarSesion()">
                    <fa-icon id="Icono" [icon]="faDoorOpen"></fa-icon>
                    Cerrar sesion
                  </button> 
                </li>
             </ul>
   
            </div>  
          </li>

        
        <li class="nav-item dropdown" *ngIf="!token">
          <button id="btnIniciarSesion" routerLink="/Login">Iniciar sesión</button>
        </li>

      </ul>
  
     </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>