<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
       <a class="navbar-brand" href="#">
           <img src="RentOutfitLogo.png" alt="RentOutfit" width="50" height="50">
       </a>
  
  
    <div class="collapse navbar-collapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
  
        <li class="nav-item">
          <a routerLink="Home" class="nav-link">
            <fa-icon id="Icono" [icon]="faHouse"></fa-icon>
            Home
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link">
            <fa-icon id="Icono" [icon]="faBag"></fa-icon>
            Tiendas
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link">
            <fa-icon id="Icono" [icon]="faShirt"></fa-icon>
            Mis Alquileres
          </a>
        </li>
  
       </ul>
  
  
       <form class="d-flex">
          <input id="contBuscar" class="form-control me-1" type="search" placeholder="Buscar..." aria-label="Search">
          <button id="btnBuscar" class="btn btn-outline-dark" type="submit"><fa-icon id="Icono" [icon]="faSearch"></fa-icon></button>
       </form>
  
       <!--
       <ul class="navbar-nav" >
        <li>
          <a class="nav-link">
            <fa-icon id="Icono" [icon]="faBell"></fa-icon>
            Notificaciones
          </a>
        </li>
       </ul>
       -->
  
       <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          
      <!-- <img src="Prueba/icono.jpg" id="imgPerfil" alt="Profile">-->    
          <button id="btnPerfil" routerLink="/Login">Iniciar sesión</button>
        </li>
      </ul>
  
     </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>