* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  /* Ajuste del banner de imagen */
  .image-banner {
    width: 50%; 
    height: 220px;
    margin-bottom: 30px; /* Aumentado para agregar espacio con el formulario */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: #e0e0e0;
    margin: 0 auto; /* Mantener centrado */
  }
  
  /* Aseguramos un padding superior en el formulario */
  .form-columns {
    padding-top: 30px; /* Añade espacio entre la imagen y el formulario */
  }
  
  
  .image-banner img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .image-banner .upload-label {
    font-size: 16px;
    color: #777;
  }
  
  .form-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  
  /* Botones en la parte inferior */
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .cancel-btn, .submit-btn {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #ccc;
  }
  
  .submit-btn {
    background-color: #162852;
    color: white;
  }
  
  .submit-btn:hover {
    background-color: #162852;
  }
  
  .cancel-btn:hover {
    background-color: #999;
  } 