/* Estructura base */
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-start; /* Alineamos al inicio superior */
  padding-top: 60px; /* Espacio para el topbar */
}

/* Card de información personal */
.card {
  padding: 20px;
  background: #b9c8d8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 700px; /* Ajustar el ancho del card */
  width: 100%;
  margin-top: 20px; /* Espacio suficiente debajo del topbar */
  position: relative;
  z-index: 1;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Botón "Editar" ajustado */
#editButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  background-color: #1e4e7e;
  color: white;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#editButton:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

/* Contenedor de la imagen de perfil y la información */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Imagen de perfil */
#imgPerfil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
  margin-bottom: 20px;
}

/* Columna de información personal */
.profile-info-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

/* Campos de información */
.field {
  background-color: #dee3e7;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.field p {
  padding: 8px;
  font-size: 0.9rem;
  background-color: #f9f9f9;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Responsividad */

/* Dispositivos más pequeños */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
  }

  .card {
      margin: 20px;
      width: 90%;
      max-width: none;
  }

  #editButton {
      right: 10px;
      top: 10px;
  }

  #imgPerfil {
      width: 120px;
      height: 120px;
  }
}

/* Dispositivos muy pequeños */
@media (max-width: 480px) {
  .card {
      width: 95%;
      margin-left: 0;
  }

  #editButton {
      right: 10px;
  }

  #imgPerfil {
      width: 100px;
      height: 100px;
  }

  .field p {
      font-size: 0.8rem;
      padding: 6px;
  }
}

/* Ajustes para la etiqueta label */
label {
  color: black;
}
