<div class="container">
  <!-- Card de Información Personal -->
  <div class="card">
    <h2>Información personal</h2> <!-- Título principal -->

    <!-- Botón Editar dentro del card
    <button id="editButton">Editar</button> -->

    <!-- Imagen de perfil centrada y la información personal -->
    <div class="profile-container">
      <img [src]="img" *ngIf="img" id="imgPerfil" alt="Profile">
      <div class="profile-info-column">
        <div class="field">
          <label>Nombre</label>
          <p>{{nombre}}</p>
        </div>
        <div class="field">
          <label>Apellido Paterno</label>
          <p>{{apellidoP}}</p>
        </div>
        <div class="field">
          <label>Apellido Materno</label>
          <p>{{apellidoM}}</p>
        </div>
        <div class="field">
          <label>Email</label>
          <p>{{email}}</p>
        </div>
        <div class="field">
          <label>Teléfono</label>
          <p>{{telefono}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
