<div class="fondo">
    <div class="contenedor">

        <div class="animacion">
            <ng-lottie [options]="animacionCorreo"></ng-lottie>
         </div>
       
       <h4>Se envio el token al correo</h4>

       <div class="centrar">
         <button (click)="reenviar(this.email!)" [disabled]="activarBoton" [ngClass]="{'btnReenviar-activo': !activarBoton, 
         'btnReenviar-desactivado': activarBoton}" class="btnReenviar">Reenviar correo</button>
       </div>
       
       <div class="timer" *ngIf="mostrarTimer">
          <p>Disponible en: {{ contador}}</p>
       </div>

    </div>
</div>
