.centrar{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  .contenedor{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1200px;
      width: 100%;

      .vestimenta{

          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          cursor: pointer;
          max-width: 250px;
          margin: 0 auto;

          p {
              text-align: center;
              font-size: 14px;
              color: #777;
              margin: 5px 0;
          }

          h5 {
              text-align: center;
              font-size: 18px;
              font-weight: 600;
              color: #333;
              margin: 15px 0;
          }

          img {
              object-fit: cover;
              object-position: top;
              width: 250px;
              height: 250px;
              object-fit: cover;
              border-bottom: 1px solid #ddd;
          }

      }

      .vestimenta:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

  }

}







