/* Estructura general */
.main-container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
  }
  
  .left-panel {
    background-image: url('/Recursos/Fondo_Registro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Franja gris */
    width: 35%; /* Ajustar según se desee */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Espacio adicional alrededor */
  }
  
  /* Logo */
  .logo {
    margin-bottom: 20px; /* Ajusta el espacio entre el logo y el GIF */
  }
  
  .logo img {
    width: 120px;
    margin-top: -30px; /* Eleva el logo hacia arriba */
  }
  
  /* Contenedor del GIF */
  .gif-container {
    margin-top: 20px;
  }
  
  .gif-container img {
    width: 200px; /* Ajusta el tamaño del GIF según sea necesario */
    height: auto;
  }
  
  /* Formulario */
  .right-panel {
    width: 65%; /* Ajustar según se desee */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  h2 {
    margin-top: 0;
    color: #333;
    font-weight: lighter;
    font-size: 26px;
  }

  
  p {
    color: #666;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 25px;
  }
  
  .row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 25px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 25px;
  }
  
  .forgot-password a {
    color: #4a90e2;
    text-decoration: none;
    font-size: 15px;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .submit-button {
    width: 100%;
    background-color: #357abd;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 25px;
  }
  
  .submit-button:hover {
    background-color: #22507e;
  }
  
  .row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 5px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #555;
}

select:focus {
    border-color: #4a90e2;
    outline: none;
}

option {
    font-size: 16px;
    color: #555;
}

option:disabled {
    color: #aaa;
}

.btnRegresar { 
  background-color: black;
  color: #fff;
  border-radius: 50px;
  border: none;
  width: 50px;
  height: 50px;
}

.btnContinuar {
   background-color: #3170af;
   width: 90%;
   max-width: 500px;
   height: 50px;
   color: #fff;
   text-align: center;
   border: none;
   border-radius: 50px;
   font-size: 18px;
}

.btnContinuar:hover {
  background-color: #357abd;
  }

.ContBtn{
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 20px;
}  

img {
  border-radius: 20%;
  border: 2px solid #ddd;
  display: block;
  margin: 20px auto;
}

.image-preview {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 20%;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20%;
  display: block;
  object-fit: cover;
}

.ContValidaciones{

  margin-top: 1px;

  .Mensaje-Error{
    font-size: 12px;
    color: #b10202;
  }
  
}

.upload-label{
  text-align: center;
  margin: 0px 20px;
}



.btnAgregar {
  width: 90%;
  max-width: 500px;
  height: 50px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 50px;
  font-size: 18px;
}

.btnAgregar.button-invalid {
  background-color: #79b7f5;
}

.btnAgregar.button-valid{
  background-color: #3170af; 
  cursor: pointer;
}

.btnAgregar.button-valid:hover{
  background-color: #0c709e;
}
