.vestimenta-info {
  max-width: 1360px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f9fa;

  .contenedorInfVestimenta{

    display: flex;
    align-items: center;
    justify-content: center;


    .unir {
      display: flex;
    
      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        
        img {
          margin: 5px;
          width: 130px;
          height: 130px;
          border-radius: 10px;
          object-fit: cover;
          object-position: top;
        }
    
        img.selected {
          border: 3px solid #007bff;
          box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
          transform: scale(1.05);
          transition: transform 0.2s, border-color 0.2s;
        }
    
      }
    
      .vestimenta-preview {
        #imagenSeleccionada {
          object-fit: cover;
          object-position: top;
          width: 600px;
          height: 600px;
          border-radius: 10px;
        }
      }
    }
    

    .ContInformacion {
      margin: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    
      .datos {
        width: 500px;

        h4 {
          text-align: center;
          font-weight: bold;
        }

        #Disponibilidad{
          text-align: center;
          margin-top: -10px;
          font-size: 13px;
        }

        .precio {
          margin-top: 20px;

          p {
            margin-top: -15px;
          }
        }

        .Descripcion {
          margin-top: 30px;
        }

        .centrar {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          #BtnAgregar {
            border-radius: 10px;
            background-color: #0056b3;
            border: none;
            color: #fff;
            width: 400px;
            height: 50px;
          }
          
          #BtnAgregar:hover {
            background-color: #007bff;
          }
        }
      }
    }
  }

}




@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

