<div class="search-container">
  <input type="text" class="search-input" placeholder="Buscar...">
  <button class="search-button">
      <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png" alt="Buscar">
  </button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (item of TiendasList; track $index)
        {
           <tr>
              <td>
                <p>{{item.nombreEstablecimiento}}</p>
                <img id="img" [src]="item.linkImagenEstablecimiento">
              </td>
              <td>
                <p>{{item.calle}}, {{item.codigoPostal}}, {{item.nombreMunicipio}}, {{item.nombreEstado}}</p>
              </td>
              <td class="acciones">
                <div class="btn">
                  <button class="alertar">Alertar</button>
                  <button class="banear">Banear</button>
                </div>
              </td>
           </tr>
        }
    </tbody>
</table>