<div class="container">
  <!-- Formulario en dos columnas -->
  <form [formGroup]="datos" (ngSubmit)="darDeAlta(usuario!)">
    <!-- Campo Nombre del Establecimiento -->
    <div class="form-columns centrar">
      <div class="form-group">
        <h6 id="principal" for="nombre">¿Qué nombre quieres registrar tu establecimiento?</h6>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre completo" />
      </div>
      <div class="ContValidaciones" *ngIf="datos.get('nombre')?.invalid && (datos.get('nombre')?.touched || datos.get('nombre')?.dirty)">
        <small *ngIf="datos.get('nombre')?.errors?.['required']" class="Mensaje-Error">Este campo es obligatorio!</small>
        <small *ngIf="datos.get('nombre')?.errors?.['minlength']" class="Mensaje-Error">Debe tener al menos 3 caracteres!</small>
      </div>
    </div>

    <!-- Banner para la imagen -->
    <div class="image-banner" id="imageBanner" (click)="cargarImagen()">
      <img id="previewImg" [src]="imagenPrevisualizacion" *ngIf="imagenPrevisualizacion" alt="Previsualización de la imagen" />
      <span *ngIf="!imagenPrevisualizacion" id="uploadLabel" class="upload-label">Selecciona una foto de 2 MB</span>
      <input type="file" id="imageUpload" (change)="imagenSeleccionada($event)" accept="image/*" style="display: none;" />
    </div>

    <div class="ContValidaciones" *ngIf="datos.get('imagen')?.invalid && (datos.get('imagen')?.touched || datos.get('imagen')?.dirty)">
      <small *ngIf="datos.get('imagen')?.errors?.['required']" class="Mensaje-Error">Este campo es obligatorio!</small>
    </div>

    <!-- Campo Código Postal -->
    <div class="form-group">
      <label for="codigo-postal">Código Postal</label>
      <input type="text" id="codigo-postal" formControlName="codigoPostal" placeholder="Código postal" maxlength="5" (input)="onCodigoPostalChange()" />
      <div class="ContValidaciones" *ngIf="datos.get('codigoPostal')?.invalid && (datos.get('codigoPostal')?.touched || datos.get('codigoPostal')?.dirty)">
        <small *ngIf="datos.get('codigoPostal')?.errors?.['required']" class="Mensaje-Error">Este campo es obligatorio!</small>
        <small *ngIf="datos.get('codigoPostal')?.errors?.['pattern']" class="Mensaje-Error">Debe contener 5 dígitos!</small>
      </div>
    </div>

    <!-- Campo Estado (Autocompletado) -->
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" id="estado" formControlName="estado" placeholder="Estado" readonly class="readonly-input" />
    </div>

    <!-- Campo Municipio (Autocompletado) -->
    <div class="form-group">
      <label for="municipio">Municipio</label>
      <input type="text" id="municipio" formControlName="municipio" placeholder="Municipio" readonly class="readonly-input" />
    </div>

    <!-- Mensaje de error en caso de no encontrar estado/municipio -->
    <div *ngIf="datos.get('codigoPostal')?.touched && datos.get('codigoPostal')?.valid && (!datos.get('estado')?.value || !datos.get('municipio')?.value)">
      <small class="Mensaje-Error">No se encontraron datos para el código postal ingresado.</small>
    </div>

    <!-- Campo Asentamiento -->
    <div class="form-group">
      <label for="asentamiento">Colonia</label>
      <input type="text" id="asentamiento" formControlName="asentamiento" placeholder="Colonia" maxlength="50" readonly class="readonly-input" />
      <div class="ContValidaciones" *ngIf="datos.get('asentamiento')?.invalid && (datos.get('asentamiento')?.touched || datos.get('asentamiento')?.dirty)">
        <small *ngIf="datos.get('asentamiento')?.errors?.['required']" class="Mensaje-Error">Este campo es obligatorio!</small>
      </div>
    </div>

    <!-- Campo Calle -->
    <div class="form-group">
      <label for="calle">Calle</label>
      <input type="text" id="calle" formControlName="calle" placeholder="Calle" maxlength="50" />
      <div class="ContValidaciones" *ngIf="datos.get('calle')?.invalid && (datos.get('calle')?.touched || datos.get('calle')?.dirty)">
        <small *ngIf="datos.get('calle')?.errors?.['required']" class="Mensaje-Error">Este campo es obligatorio!</small>
      </div>
    </div>

    <!-- Campo Número Interior -->
    <div class="form-group">
      <label for="numeroInterior">Número interior</label>
      <input type="text" id="noInt" formControlName="noInt" placeholder="Número interior" maxlength="3" (input)="ValidarInputNumerosIyE($event)" />
      <div class="ContValidaciones" *ngIf="datos.get('noInt')?.invalid && (datos.get('noInt')?.touched || datos.get('noInt')?.dirty)">
        <small *ngIf="datos.get('noInt')?.errors?.['required']" class="Mensaje-Error">Este campo es obligatorio!</small>
      </div>
    </div>

    <!-- Campo Número Exterior -->
    <div class="form-group">
      <label for="numeroExterior">Número exterior</label>
      <input type="text" id="noExt" formControlName="noExt" placeholder="Número exterior" maxlength="3" (input)="ValidarInputNumerosIyE($event)" />
      <div class="ContValidaciones" *ngIf="datos.get('noExt')?.invalid && (datos.get('noExt')?.touched || datos.get('noExt')?.dirty)">
        <small *ngIf="datos.get('noExt')?.errors?.['required']" class="Mensaje-Error">Este campo es obligatorio!</small>
      </div>
    </div>

    <!-- Botones -->
    <div class="buttons">
      <button type="button" class="cancel-btn" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="submit-btn" [disabled]="datos.invalid">Enviar</button>
    </div>
  </form>
</div>
