
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #b5d5e7, #ffffff);
}

.NuevaContrasena {
    background-color: #ffffff; /* Fondo blanco del formulario */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para elevar el formulario */
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

