
<div class="ContAnimacion" *ngIf="mostrarAnimacionExito; else formCont">
 
  <div class="animacion-exito">   
    <div class="animacion">
      <ng-lottie [options]="animationExito"></ng-lottie>
    </div>
    
    <p>¡Se actualizo la contraseña con exito!</p>
  </div>
  
</div>


<ng-template #formCont>
<div class="formulario" *ngIf="formContrasena">
  <form [formGroup]="nuevosDatos" (ngSubmit)="NuevaContra()" class="NuevaContrasena">
    
    <h4>Restablecer contraseña</h4>
     <img [src]="this.imagenPerfil" id="img">
    <div id="centrar">

      <div class="ContContrasena">
         <label>Ingresa tu nueva contraseña:</label>
         <input type="password" id="inputContrasena" name="contrasena" form="contrasena" formControlName="contrasena"  placeholder="************" maxlength="15" autocomplete="new-password">

         <div class="ContValidaciones" *ngIf="nuevosDatos.get('contrasena')?.errors?.contrasenaVal && nuevosDatos.get('contrasena')?.invalid && (nuevosDatos.get('contrasena')?.touched || nuevosDatos.get('contrasena')?.dirty)">
            <small class="Mensaje-Error" *ngIf="nuevosDatos.get('contrasena')?.errors?.['required']">Este campo es obligatorio!</small>
            <small class="Mensaje-Error" *ngIf="!nuevosDatos.get('contrasena')?.errors?.contrasenaVal?.MayusculaEnCualquierParte">Debe de contener almenos una mayúscula. </small>
            <small class="Mensaje-Error" *ngIf="!nuevosDatos.get('contrasena')?.errors?.contrasenaVal?.AlmenosDosNumeros">Debe tener al menos dos números. </small>
            <small class="Mensaje-Error" *ngIf="!nuevosDatos.get('contrasena')?.errors?.contrasenaVal?.Caracteres">Debe tener al menos 8 caracteres.</small>
          </div>
       </div>
    </div>
    
    <div id="centrar">
       <div class="ContContrasena"> 
         <label for="confirmPassword">Confirma la contraseña:</label>
         <input type="password" id="inputContrasena" formControlName="contrasenaValidar" name="confirmPassword" placeholder="**********" maxlength="15" autocomplete="new-password" />
              
         <div class="ContValidaciones" *ngIf="nuevosDatos.errors?.contrasenaNoMatch && nuevosDatos.get('contrasenaValidar')?.touched">
           <small class="Mensaje-Error">Las contraseñas no coinciden.</small>
         </div>
       </div>
    </div>

    <button class="btnValidar" type="submit" [disabled]="!nuevosDatos.valid" [ngClass]="{'btnValidar-activo' : nuevosDatos.valid, 'btnValidar-desactivado': !nuevosDatos.valid}">Validar</button>
  </form>
</div>
</ng-template>

<div class="formulario" *ngIf="!formContrasena">

  <div class="Anuncio">
     <div class="animacion">
       <ng-lottie [options]="animacionError"></ng-lottie>
     </div>

     <button class="btnRegresar" routerLink="/Cliente/home">Revisa tus datos!</button>
  </div>
</div>
